<div class="min-h-screen bg-[#eceff180] text-[#263238]">
    <aside
        class="bg-white shadow-sm -translate-x-80 fixed z-50 my-4 ml-4 h-[calc(100vh-32px)] w-72 rounded-xl transition-transform duration-300 xl:translate-x-0 border border-[#cfd8dc]"
    >
        <div class="relative">
            <a class="py-6 px-8 text-center">
                <h6
                    class="block font-sans antialiased tracking-normal text-base font-semibold leading-relaxed text-[#263238]"
                >
                    ShopApp
                </h6>
            </a>
            <div class="m-4">
                <ul class="mb-4 flex flex-col gap-1">
                    <li *ngFor="let item of menuBar">
                        <a
                            aria-current="page"
                            class="active"
                            (click)="routerNavigate(item)"
                            ><button
                                class="align-middle select-none font-sans font-bold text-center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] w-full flex items-center gap-4 px-4 capitalize"
                                type="button"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                    fill="currentColor"
                                    aria-hidden="true"
                                    class="w-5 h-5 text-inherit"
                                >
                                    <path
                                        d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z"
                                    ></path>
                                    <path
                                        d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z"
                                    ></path>
                                </svg>
                                <p
                                    class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize"
                                >
                                    {{ item.name }}
                                </p>
                            </button></a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    <!-- body -->
    <div class="p-4 xl:ml-80">
        <!-- header -->
        <nav
            class="block w-full max-w-full bg-transparent shadow-none rounded-xl transition-all px-0 py-1"
        >
            <div
                class="flex flex-col-reverse justify-between gap-6 md:flex-row md:items-center"
            >
                <div>
                    <p class="text-sm text-[#607d8b]">
                        Dashboard /
                        <span class="text-[#263238] font-semibold">{{
                            page
                        }}</span>
                    </p>
                    <h5
                        class="block antialiased tracking-normal font-sans text-base font-bold leading-relaxed text-[#263238]"
                    >
                        {{ page }}
                    </h5>
                </div>
                <div class="flex items-center">
                    <button *ngIf="!userResponse" (click)="handleLoginButton()">
                        Đăng nhập
                    </button>
                    <ng-container *ngIf="userResponse">
                        <h4
                            class="flex items-center hover:bg-[#607d8b1a] transition-all rounded-lg p-2 text-[#607d8b]"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                fill="currentColor"
                                class="w-5 h-5"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
                                    clip-rule="evenodd"
                                />
                            </svg>

                            <span class="ml-1 font-semibold">{{
                                userResponse.fullname
                            }}</span>
                        </h4>
                        <button
                            (click)="handleLogout()"
                            class="ml-2 hover:bg-[#607d8b1a] transition-all rounded-lg p-2 text-[#607d8b]"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                fill="currentColor"
                                class="w-5 h-5 font-semibold transform rotate-90"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M11.47 2.47a.75.75 0 0 1 1.06 0l4.5 4.5a.75.75 0 0 1-1.06 1.06l-3.22-3.22V16.5a.75.75 0 0 1-1.5 0V4.81L8.03 8.03a.75.75 0 0 1-1.06-1.06l4.5-4.5ZM3 15.75a.75.75 0 0 1 .75.75v2.25a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5V16.5a.75.75 0 0 1 1.5 0v2.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V16.5a.75.75 0 0 1 .75-.75Z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                        </button>
                    </ng-container>
                </div>
            </div>
        </nav>
        <!-- content -->
        <div class="mt-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
